.main-chat  
  = render @messages
  .header
    .header__group--name 
      group-name
      .header__member--list 
        Member :
    = link_to edit_user_path(current_user)  do
      .header__edit--btn Edit
  .tweet
    =render @messages
    .member__tweet
      .member__name
        -# = message.user.name
        .message
          %p 何ができる
      .create-time
        -# = message.created_at.strftime("%Y/%m/%d %H:%M")


  .form
    .form_box
      =form_for [@group, @message] do |f|
        .test
          = f.text_field :content, class: 'text__message', placeholder: 'type a message'
          .input-box
            = f.label :image, class: 'input_message-box' do
              = icon('far', 'image', class: 'icon')
              = f.file_field :image, class: 'input_box-file'
          = f.submit 'Send', class: 'send_btn'
